body
{background: #ffffff url('https://image.ibb.co/mjdbZ5/bg5.jpg') no-repeat center;
width: auto;
-moz-background-size: 100%;
-webkit-background-size: 100%; 
}
.wrapper {
    margin: auto;
    max-width: 100%;
}
section {
    display: inline-block;
    max-width: 33,3%;
    font-size: 16px;
    padding: 0 5px;
    box-sizing: border-box
}

body {
    text-align: center;
}

body {
    text-align: center;
    text-indent: justify;
}

div {
    border: 100px solid white;
    padding: 50px;
    margin-bottom: 50px;
}
body {
    margin: 0
}
.parent {
    margin: 20%;
    background: white;
    padding: 10px
}