body {
    background: #ffffff url(https://files.slack.com/files-tmb/T79DPALD9-F7N6VG6NR-b20b8064ca/more_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parent {
      width: 1024px;
      min-height: 1298px;
      margin: auto;
      background: white;
  }